<div class="container mt-5">
  <div class="row align-items-start" style="width: 90%; margin-left: 30px">
    <div class="col" style="max-width: 400px">
      <strong>Bill To:</strong>
      <label
        >Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
        alias accusantium a sed voluptas! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Fugiat deserunt voluptatibus, enim voluptatum delectus
        cupiditate? Voluptate optio itaque sequi fuga.</label
      >
    </div>
    <div class="col">
      <strong>Remit To:</strong><br />
      <div>My Transportation LLC</div>
      <div>P.O.Box 735724</div>
      <div>Dallas, TX 75373-5724</div>
    </div>
    <div class="col" style="margin-left: 80px">
      <td class="title" style="width: 450px; height: 50px;">
        <img
          src="../../assets/image/ship.svg" 
        />
      </td>
    </div>

    <!-- for invoice details -->
    <div class="row align-items-start mt-3">
      <div class="col">
        <label>
          <strong>Invoice Number:</strong>
        </label>
        <span class="text-start">34683468</span>
        <div class="w-100"></div>
        <label>
          <strong>Invoice Date:</strong>
        </label>
        <span class="text-start">08/03/2022</span>
        <div class="w-100"></div>
        <label>
          <strong>Payment Terms:</strong>
        </label>
        <span class="text-start">NET-30</span>
        <div class="w-100"></div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  <!-- table starts here -->
  <div class="container-fluid">
    <table class="table justify-content-start">
      <thead>
        <tr>
          <th scope="col">Order</th>
          <th scope="col">
            Shipment <br />Customer PO <br />
            Customer Order No.
          </th>
          <th scope="col">Origin <br />Ship Date</th>
          <th scope="col">Destination <br />Delivery Date</th>
          <th scope="col">Weight <br />Qty <br />Pallets</th>
          <th scope="col">Case Cost <br />Pallet Cost</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">16543</th>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Fugiat deserunt voluptatibus, enim
            voluptatum delectus cupiditate? Voluptate optio itaque sequi fuga.
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>Mark</td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <br />
          <td class="row mt-5 table-extra">
            <div class="col-12 col-sm-6 col-md-8">Comments:</div>
            <div class="col-6 col-md-4">Total:</div>
          </td>
        </tr>
        <tr>
          <th scope="row">90943</th>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Fugiat deserunt voluptatibus, enim
            voluptatum delectus cupiditate? Voluptate optio itaque sequi fuga.
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>Mark</td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet Mark Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Natus alias
            accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <td>
            Mark Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            alias accusantium a sed voluptas! Lorem ipsum dolor sit amet
          </td>
          <br />
          <!-- <td class="row mt-5 table-extra">
              <div class="col-12 col-sm-6 col-md-8">Comments:</div>
              <div class="col-6 col-md-4">Total:</div>
            </td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <!-- table ends here -->
  <div class="row intotal-items">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col total-finale">
      <label>
        <strong>Line Haul Charges Total</strong>
      </label>
      <span class="float-end">$200,095.00</span>
      <div class="w-100"></div>
      <label>
        <strong>Fuel Surcharge Total</strong>
      </label>
      <span class="float-end">$295.00</span>
      <div class="w-100"></div>
      <label>
        <strong>Fuel Surcharge Total</strong>
      </label>
      <span class="float-end">$95.00</span>
      <div class="w-100"></div>
      <label>
        <strong>Lumper Fee Total</strong>
      </label>
      <span class="float-end">$20,095.00</span>
      <hr />
      <label>
        <strong>INVOICE TOTAL</strong>
      </label>
      <span style="margin-left: 30px">$20,095.00</span>
      <div class="w-100"></div>
    </div>
  </div>
  <!-- footer -->
  <div class="row intotal-items mt-5" style="margin-left: 50px">
    <div class="col-3">
      <label>
        <strong>Date:</strong>
      </label>
      <span style="margin-left: 30px">08/03/2022</span>
    </div>
    <div class="col-6">
      <label>
        <strong>INVOICE TOTAL</strong>
      </label>
      <span style="margin-left: 30px">$20,095.00</span>
      <label>
        <strong>INVOICE TOTAL</strong>
      </label>
      <span style="margin-left: 30px">$20,095.00</span>
    </div>
    <div class="col-3 total-finale">
      <label>
        <strong>Page</strong>
      </label>
      <span style="margin-left: 30px">1 of 5</span>
      <!-- <div class="w-100"></div> -->
    </div>
  </div>
</div>
