<!-- <div style="width: 100%">
  <div style="float: left; width: 50%"></div>
  <div style="float: right; width: 50%; border-radius: 1px solid;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{ longText }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div style="clear: both"></div> -->

<div class="split left">
  <div class="centered">
    <img src="../../assets//image//ship.svg" alt="logistics" />
    <h2>Perfect Logistics</h2>
    <p>Let's GO.</p>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <img src="../../assets//image//user.svg" alt="Avatar man" />
    <h2>John Doe</h2>
    <p>Sign In to get started</p>
    <mat-card class="example-card">
      <!-- <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header> -->
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Enter UserName</mat-label>
            <input matInput placeholder="Enter UserName" />
            <mat-icon matSuffix>user</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <mat-icon matSuffix>user</mat-icon>

            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <form [formGroup]="options">
            <mat-checkbox [formControl]="hideRequiredControl"
              >Keep Me Logged In</mat-checkbox
            >
            <!-- <div>
              <label>Float label: </label>
              <mat-radio-group [formControl]="floatLabelControl">
                <mat-radio-button value="auto">Auto</mat-radio-button>
                <mat-radio-button value="always">Always</mat-radio-button>
              </mat-radio-group>
            </div> -->

            <div class="example-form-fields">
              <!-- <mat-form-field
                appearance="fill"
                [hideRequiredMarker]="hideRequiredControl.value"
                [floatLabel]="getFloatLabelValue()"
              >
                <input matInput placeholder="Simple placeholder" required />
              </mat-form-field>

              <mat-form-field
                appearance="fill"
                [floatLabel]="getFloatLabelValue()"
              >
                <mat-label>Both a label and a placeholder</mat-label>
                <input matInput placeholder="Simple placeholder" />
              </mat-form-field> -->

              <!-- <mat-form-field
                appearance="fill"
                [hideRequiredMarker]="hideRequiredControl.value"
                [floatLabel]="getFloatLabelValue()"
              >
                <mat-select required>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-label
                  ><mat-icon>favorite</mat-icon> <b> Fancy</b>
                  <i> label</i></mat-label
                >
              </mat-form-field> -->
            </div>
          </form>
        </form>
      </mat-card-content>
      <button mat-raised-button color="accent">Submit</button>
    </mat-card>
  </div>
</div>
